.git/objects/53/763aec0789f51d85a1dd8edcaeabe80044767e
.git/objects/6a/0d4e43a9a2922745034b7bd60a4096fd83b72e
.git/objects/6c/b117e7f70b35d669506006900e169f21ed589f
.git/objects/79/8ef162149dda094c6446af2bf41c603297fd71
.git/objects/7a/70a7c12cb0307977f9b467661aa379c3e55e09
.git/objects/c4/d41653a97f81c357de82d5cff18f6a9aef9022
.git/objects/c9/7bbd9c78d1f9c541bd492bebbd57e34fdf2cf2
.git/objects/f2/f40803e4283bf55c1b44132fd08a0a42be203c
.git/objects/f5/91fe226ed7bb8f362a542c5a5ff0d81ad1806b
.git/objects/pack/pack-f476939dd9b89c2920081d3e3cb188f419102f79.pack
.git/objects/pack/tmp_pack_cwQijS
.git/objects/pack/tmp_pack_kjoSMc
.git/objects/pack/tmp_pack_lGksgf
.git/objects/pack/tmp_pack_W2xnnP
#Ignore files in these directories
#ignore rserver files
NS3809/logs/*
NS3809/results/cellranger/NS*
NS3809/results/cellranger/web_summary_htmls/combined_summary.html
NS3809/results/seurat/objects/
NS3809/results/seurat/objects/3a_soupx_seurat_merged.Rds
NS3809/results/seurat/objects/3a_soupx_seurat_merged.v2.Rds
NS3809/results/seurat/objects/3a_soupx_seurats.Rds
NS3809/results/seurat/objects/3a_soupx_seurats.v2.Rds
NS3809/results/seurat/objects/integrated_seurat.Rds
NS3809/results/seurat/plots/cluster_10_markers.pdf
NS3809/results/seurat/plots/cluster_2_markers.pdf
NS3809/results/seurat/plots/cluster_highlight_plots.pdf
NS3809/results/seurat/plots/cluster_marker_review.pdf
NS3809/results/seurat/plots/int_cluster_highlight_plots.pdf
NS3809/results/seurat/plots/lowres_cluster_highlight_plots.pdf
NS3809/results/seurat/plots/sample_highlight_plots.pdf
NS3809/results/soupx/objects/
NS3809/results/soupx/objects/NS-3809_P1_2_1_soupx_corrected.v2.Rds
NS3809/results/soupx/objects/NS-3809_P4_20C2_soupx_corrected.v2.Rds
NS3809/results/soupx/objects/NS-3809_P4_2C2_soupx_corrected.v2.Rds
NS3809/results/soupx/objects/NS-3809_P5_2C1_soupx_corrected.v2.Rds
NS3809/rstudio-rserver
NS3809/rstudio-rsession
NS3809/scripts/*mro
NS3809/scripts/refdata-gex-GRCh38-2024-A/
NS3809/scripts/refdata-gex-GRCh38-2024-A/fasta/genome.fa
NS3809/scripts/refdata-gex-GRCh38-2024-A/genes/genes.gtf.gz
NS3809/scripts/refdata-gex-GRCh38-2024-A/star/exonGeTrInfo.tab
NS3809/scripts/refdata-gex-GRCh38-2024-A/star/Genome
NS3809/scripts/refdata-gex-GRCh38-2024-A/star/SA
NS3809/scripts/refdata-gex-GRCh38-2024-A/star/SAindex
NS3809/scripts/References/azimuth*
NS3809/scripts/References/azimuth_panc8/ref.Rds
#NS3809/symlinks/*
